@import './globals';

@include react-md-everything;

.clear-search {
  top: 9px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .title {
    padding: 0 30px;
    margin: 0;
  }

  .controls-container {
    display: flex;
    padding: 0 30px;

    .btn-control {
      margin-right: 10px;
    }
  }
}