@import './globals';

@include react-md-everything;

.clear-search {
  top: 9px;
}

.cargo-link {
  padding: 5px 10px;
}

.main-partition {
  display: flex;
  flex-direction: column-reverse;
}

.side-bar {
  min-width: 200px;
  padding: 10px;
}

.main-content {
  width: 100%;
  padding: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;

  .title {
    padding: 0 30px;
    margin: 0;
  }

  .controls-container {
    display: flex;
    padding: 0 30px;

    .btn-control {
      margin-right: 10px;
    }
  }
}

.toast {
  display: flex;
  align-items: center;
  justify-content: center;

  &.toast--success {
    background-color: $md-green-400
  }

  &.toast--error {
    background-color: $md-red-400
  }
}


@media (min-width: 600px) {
  .search-bar {
    flex-direction: row;
  }

  .main-partition {
    flex-direction: row;
  }
}